*{ /*Seletor para todo*/
    background-color: pink;
}

img {
    height:150px;
    width:250px;
}

h1{
    color:black;
    background-color: #ff8ed5;
    text-decoration: oklab(lightness a b); 
    text-align: center; 
}

p strong {
    color:chartreuse;
    font-size: 48pt;
    font-family: 'Arial';
}

p em {
    color:blueviolet;
    font-size: 28pt;
    font-family:'Verdana';
}

p mark{
    background-color: fuchsia;
    color:black;

}

p.teste{
    background-color: white;
    color:black;
    font-size:16pt;
}

.generica{
    background-color: black;
    color:white;
    font-size: 70pt;
}

#paragrafo{
    /*seletor de ID*/
    color:brown;
    font-family: 'Times New Roman';
    font-size: medium;
}

#t4{
    font-size:24pt;
}

nav a{
    color:rgb(255, 255, 255);
    font-size: 16pt;
    padding: 20px;
    border: rgb(204, 50, 153) dotted 5px;
    margin:10px ;
}

nav{
    background-color: rgb(218, 142, 189);
    padding:100px;
    border:dashed 10px rgb(241, 69, 198);
    margin: 50px;
}

header{
    background-color:#ff8ed5;
    padding: 20px;
    border: solid rgb(221, 130, 176) 10px;
    margin: 20px 200px;

}

#main{
    background-color: rgb(226, 166, 203);
    padding: 100px;
    border: double rgb(218, 82, 138) 3px;
    margin:10px;
}

footer{
    padding: 50px 100px 25px 200px;
}